@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1c1c1c;
  --background-start-rgb: #b8b8b8;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #f3f3f3;
    --background-start-rgb: #646465;
    --background-end-rgb: #242424;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
